/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: Rubik;
    src: url(C:\Users\mmich\OneDrive\Desktop\MB\spotify\spotify\src\assets\font\Rubik-VariableFont_wght.ttf) format('truetype');
}